/* Cabecera de la página */
h1 {
  text-align: center;
}



p{
  text-align: center;
  font-size: 19px;
}
* {
    box-sizing: border-box
}
.pie {
  background-color: #2763cb;
  font:black;
  text-align: center;
}

.image-slideshow {
    /* border: 5px solid blue; */
  max-width: 1000px;
  height: 300px;
  position: relative;
  margin: auto;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}