@import './reset.css';
@import './categories.css';
@import './slide.css';
@import './formulario.css';
@import './galery.css';
@import './product.css';
#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
